html {
  font-size: 62.5%; // 10px
}

body {
  background-color: #cecece;
  box-sizing: border-box;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  padding: 2rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  background-color: #fff;
  padding: 2rem;
}
